form = """
<!doctype html>
<html>
    <body>
    <h1> Signup </h1>
        <form method='POST'>
            <label for="username">Username
              <input id="username" type="text" name="username" value='{{username}}'/>
            </label>
            <p class="error">{{username_error}}</p>
            <label for="password">Password
              <input id="password" type="password" name="password" value='{{password}}'/>
            </label>
            <p class="error">{{password_error}}</p>
              <label for="verify">Verify Password
            <input id="verify" type="password" name="verify" value='{{verify}}'/>
            </label>
            <p class="error">{{verify_error}}</p>
            <label for="email">Email (optional)
              <input id="email" type="text" name="email" value='{{email}}'/>
            </label>
            <p class="error">{{email_error}}</p>
            <input type="submit" value="Validate" />
        </form>
    </body>
</html>
"""
